$font-stack: 'Share Tech Mono', monospace;
$primary-color: #d0d091;
$small-circle: 150px;
$big-circle: 155px;

=clip-path($circle)
  -webkit-clip-path: $circle
  clip-path: $circle

#green,
#yellow,
#blue,
#red
  clip-path: circle($small-circle at 50px 150px)
  width: 200px
  height: 200px